<style>
    a{
        color: black;
        font-size: 1.5rem;
    }
    a:hover{
      color: #8059c1;
      transition: 0.3s;
    }
    .table tr:hover{
        background-color: #efebf7;
        transition: 0.3s;
    }
    body{
      background-color: #f6f6f6;
    }
</style>
<body>

<div class="container-fluid col-lg-9" style="margin-top: 150px;">
  
  <table class="table">
      <thead class="table-dark">
        <tr>
          <th scope="col">#</th>
          <th scope="col">Name</th>
          <th scope="col">Email</th>
          <th scope="col">Password</th>
          <th scope="col">Edit</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td>Mark</td>
          <td>Otto</td>
          <td>@mdo</td>
          <td><a href="#"><i class='bx bx-edit'></i></a><a href="#"><i class='bx bx-trash'></i></a></td>
        </tr>
        <tr>
          <th scope="row">2</th>
          <td>Jacob</td>
          <td>Thornton</td>
          <td>@fat</td>
          <td><a href="#"><i class='bx bx-edit'></i></a><a href="#"><i class='bx bx-trash'></i></a></td>
        </tr>
        <tr>
          <th scope="row">3</th>
          <td colspan="2">Larry the Bird</td>
          <td>@twitter</td>
          <td><a href="#"><i class='bx bx-edit'></i></a><a href="#"><i class='bx bx-trash'></i></a></td>
        </tr>
      </tbody>
    </table>
</div>
